.container {
   position: relative;
   width: 100%;
   min-height: calc(700px - var(--header-height));
   height: calc(100vh - var(--header-height));
   background-size: cover;
   background-position: top center;
   background-repeat: no-repeat;
   overflow: hidden;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
         0deg,
         rgba(0, 0, 0, 0.8) 25%,
         rgb(80, 80, 80, 0.2) 120%
      );
   }

   .content {
      position: absolute;
      bottom: 5vh;
      left: 50%;
      z-index: 50;
      translate: -50%;
   }
}
