@use '../../assets/scss/mixins' as mixin;

$gap-pojects: 5px;
$links-gap: 10px;
$first-bk: 1100px;
$lg-bk: 992px;
$md-bk: 768px;
$transition-image-time: 200ms;

.projects-container {
   text-align: center;
   margin: 20px 0;

   &:first-child {
      margin-bottom: 50px;
   }

   .h1-container {
      text-align: left;

      .h1Main {
         font-size: 2.5em;
         margin-bottom: 40px;
      }

      @media screen and (max-width: $md-bk) {
         text-align: center;
      }
   }

   .paragraph {
      margin-top: 20px;
   }

   .filter {
      font-size: 1.05em;
   }

   .select {
      margin: 10px 0 50px 0;
      width: 150px;
      height: 30px;
      font-size: 1.05em;
      background-color: rgb(230, 230, 230);
      padding: 0 10px;
      border-radius: 10px;
      cursor: pointer;
   }

   .repos-container {
      @include mixin.flex(
         $justify: flex-start,
         $align: stretch,
         $gap: $gap-pojects,
         $wrap: true
      );

      // Main projects
      .main-project {
         position: relative;
         max-height: 650px;
         margin-bottom: 115px;

         &::after {
            content: '';
            display: table;
            clear: both;
         }

         // Card content
         .card-content {
            float: right;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            width: 60%;
            text-align: right;
            background-color: #328bea;
            padding: 20px 25px;
            border-radius: 10px;
            box-shadow: 0px 10px 20px -5px #000000;

            .featured {
               display: inline-block;
               font-size: 0.8em;
               color: rgb(190, 190, 190);
               transform: translateY(6px);
            }

            h2 {
               font-size: 2em;
               color: #000000;
               padding-bottom: 3px;
               margin-bottom: 15px;
               border-bottom: 2px solid var(--secondary-color);
            }

            .language {
               @include mixin.flex($justify: flex-end, $gap: 10px, $wrap: true);
            }

            .info-container {
               p {
                  font-size: 1.1rem;
                  padding: 0 15px;
                  margin: 25px 0;
                  max-height: 90px;
                  overflow-y: scroll;

                  &::-webkit-scrollbar {
                     width: 5px;
                  }

                  &::-webkit-scrollbar-thumb {
                     background-color: rgba(0, 0, 0, 0.5);
                     border-radius: 5px;
                  }

                  @media screen and (max-width: $md-bk) {
                     max-height: none;
                  }

                  @media screen and (max-width: 600px) {
                     max-height: 125px;
                  }
               }

               .topic-container {
                  @include mixin.flex(
                     $justify: flex-end,
                     $gap: 5px,
                     $wrap: true
                  );
                  margin-bottom: 20px;
               }

               .project-links {
                  @include mixin.flex($justify: flex-end, $gap: $links-gap);

                  button {
                     background-color: var(--secondary-color);

                     &:hover {
                        background-color: transparent;
                        border-color: #f88e2a;
                     }
                  }
               }
            }
         }

         .img-container {
            float: left;
            position: relative;
            width: 50%;

            img {
               width: 90%;
            }

            &::after {
               content: '';
               position: absolute;
               left: 1px;
               top: 15px;
               width: 90%;
               height: 100%;
               border: 2px solid var(--secondary-color);
               z-index: -1;
               transition: all $transition-image-time;
            }
         }

         .card-content:hover {
            & ~ .img-container img {
               filter: grayscale(0);
            }

            & ~ .img-container::after {
               left: 10px;
               top: 8px;
            }
         }

         // 2nd/4nd/... card
         &:nth-child(even) {
            .card-content {
               float: left;
               left: 0;
               text-align: left;

               .language {
                  @include mixin.flex($justify: flex-start, $gap: 10px);
               }

               .topic-container {
                  @include mixin.flex($justify: flex-start, $gap: 5px);
               }

               .project-links {
                  @include mixin.flex($justify: flex-start, $gap: $links-gap);
               }
            }

            .img-container {
               float: right;

               &::after {
                  left: 50px;
                  top: 15px;
               }
            }

            .card-content:hover ~ .img-container::after {
               left: 45px;
               top: 10px;
            }
         }

         // Media queries single project
         @media screen and (max-width: $first-bk) {
            .img-container {
               width: 60%;
            }

            .card-content {
               width: 70%;
            }
         }

         @media screen and (max-width: $lg-bk) {
            .img-container {
               width: 73%;
            }

            .card-content {
               width: 75%;
            }
         }

         @media screen and (max-width: $md-bk) {
            position: static;
            @include mixin.flex($direction: column-reverse, $wrap: true);
            max-height: none;
            overflow: visible;

            .img-container,
            .card-content {
               float: none;
               position: static;
               transform: translate(0);
               width: 100%;
            }

            .img-container {
               max-height: 350px;
               overflow: hidden;

               img {
                  width: 90%;
               }

               &::after {
                  display: none;
               }
            }
         }
      }

      // Other projects
      .other-project {
         position: relative;
         width: calc(25% - $gap-pojects);
         opacity: 0;
         overflow: hidden;

         @media screen and (max-width: calc($lg-bk - 1px)) {
            width: calc(33% - $gap-pojects);
         }

         @media screen and (max-width: $md-bk) {
            @include mixin.flex($direction: column-reverse);
            width: calc(50% - $gap-pojects);
            margin-bottom: 35px;
            box-shadow: 0px 4px 10px -5px #000000;
         }

         @media screen and (max-width: 600px) {
            width: 100%;
         }

         .img-container {
            border-radius: 3px;
            overflow: hidden;

            img {
               display: block;
               width: 100%;
               transition: all 150ms;
            }
         }

         // Card content
         .card-content {
            @media screen and (min-width: calc($md-bk + 1px)) {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               z-index: 1;
               width: 105%;
               padding: 100px 15px;
               text-align: center;
            }

            @media screen and (max-width: $md-bk) {
               padding: 10px 10px 0 10px;
            }

            h2 {
               display: inline-block;
               color: var(--secondary-color);
               border-bottom: 2px solid var(--primary-color);
               transform: translateX(8rem);
               opacity: 0;

               @media screen and (min-width: 1200px) {
                  font-size: 1.8em;
               }

               @media screen and (max-width: $md-bk) {
                  transform: translateX(0);
                  opacity: 1;
               }

               &.decrease-font {
                  font-size: 1.7vw;

                  @media screen and (max-width: $md-bk) {
                     font-size: 2.5vw;
                  }
                  @media screen and (max-width: 651px) {
                     font-size: 3.2vw;
                  }
                  @media screen and (max-width: 601px) {
                     font-size: 4.75vw;
                  }
                  @media screen and (max-width: 450px) {
                     font-size: 4.8vw;
                  }

                  @media screen and (min-width: 1200px) {
                     font-size: 1.4em;
                  }
               }
            }

            .learn-more {
               margin-top: 30px;
               border: 1px solid var(--primary-color);
               transform: translateX(-8rem);
               opacity: 0;

               &:hover {
                  background-color: var(--primary-color);
               }

               @media screen and (max-width: $md-bk) {
                  transform: translateX(0);
                  margin: 25px 0;
                  opacity: 1;
               }
            }
         }

         &:hover {
            .card-content {
               @media screen and (min-width: $md-bk) {
                  background-color: rgba(13, 13, 93, 0.95);
               }

               h2 {
                  animation: slide-left 350ms ease forwards;

                  @keyframes slide-left {
                     from {
                        transform: translateX(8rem);
                        opacity: 0;
                     }
                     to {
                        transform: translateY(0);
                        opacity: 1;
                     }
                  }

                  @media screen and (max-width: $md-bk) {
                     animation: none;
                  }
               }

               .learn-more {
                  animation: slide-right 350ms ease forwards;

                  @keyframes slide-right {
                     from {
                        transform: translateX(-8rem);
                        opacity: 0;
                     }
                     to {
                        transform: translateY(0);
                        opacity: 1;
                     }
                  }

                  @media screen and (max-width: $md-bk) {
                     animation: none;
                  }
               }
            }

            .img-container img {
               display: block;
               transform: scale(1.1);
            }
         }

         // Reveal animation
         animation: reveal 500ms forwards;

         &:nth-child(2) {
            animation-delay: 50ms;
         }
         &:nth-child(3) {
            animation-delay: 100ms;
         }
         &:nth-child(4) {
            animation-delay: 150ms;
         }
         &:nth-child(5) {
            animation-delay: 200ms;
         }
         &:nth-child(6) {
            animation-delay: 250ms;
         }
         &:nth-child(7) {
            animation-delay: 300ms;
         }
         &:nth-child(8) {
            animation-delay: 350ms;
         }
         &:nth-child(9) {
            animation-delay: 400ms;
         }
         &:nth-child(10) {
            animation-delay: 450ms;
         }
         &:nth-child(11) {
            animation-delay: 500ms;
         }
         &:nth-child(12) {
            animation-delay: 550ms;
         }

         @keyframes reveal {
            from {
               opacity: 0;
            }
            to {
               opacity: 1;
            }
         }
      }
   }
}

// Details other projects
.details-container {
   background-color: rgb(250, 250, 250);
   width: 750px;

   .img-container {
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
   }

   .info-container {
      padding: 20px 30px;
      border-top: 1px solid #f0f0f0;

      @media screen and (max-width: 650px) {
         padding: 20px 15px;
      }

      h2 {
         font-size: 1.9em;
         padding-bottom: 5px;
         border-bottom: 1px solid #d3d3d3;
      }

      p {
         font-size: 1.1rem;
         color: initial;
         margin: 20px 15px;
      }

      .topic-container {
         @include mixin.flex($justify: flex-start, $gap: 5px);
      }

      .project-bottom {
         @include mixin.flex($justify: space-between);
         margin-top: 40px;

         .project-links {
            @include mixin.flex($gap: $links-gap);

            button {
               color: var(--primary-color);
               border: 1px solid var(--primary-color);

               &:hover {
                  color: #ffffff;
                  background-color: var(--primary-color);
               }
            }
         }

         .info-close {
            font-size: 1.45em;
            color: #808080;
            transition: all 200ms;

            &:hover {
               transform: scale(1.2);
            }
         }
      }
   }

   // Media queries details othe projects
   @media screen and (max-width: calc($lg-bk - 1px)) {
      width: 650px;

      .img-container {
         height: 250px;
      }
   }

   @media screen and (max-width: 750px) {
      width: 450px;

      .img-container {
         height: 200px;
      }
   }

   @media screen and (max-width: 500px) {
      width: 350px;
   }
}

.lang {
   @include mixin.flex($justify: center, $gap: 5px);

   // .color-language {
   //    display: inline-block;
   //    width: 25px;
   //    height: 25px;
   //    border-radius: 50%;
   // }
}

.topic-container {
   @include mixin.flex($wrap: true);

   .topic {
      color: white;
      background-color: rgb(0, 76, 255);
      padding: 5px 10px 7px 10px;
   }
}

.project-links .icon {
   margin-left: 7px;
}

.loader,
.loader-text {
   font-size: 1.5em;
}
