:root {
   --dark-blue: #0a0a41;
   --primary-color: #2a91ff;
   --light-blue: #439eff;
   --secondary-color: #ff7a00;
   --header-height: 80px;
   --width-skills-slider: 160px;
   --dimension-images-slider3d: 70px;
}
