@use '../../../assets/scss/mixins' as mixin;


.gallery {
   width: var(--dimension-images-slider3d);
   height: var(--dimension-images-slider3d);
   transform-style: preserve-3d;
   animation: rotate 12s linear infinite;

   @keyframes rotate {
      from {
         transform: perspective(1200px) rotateY(0deg);
      }
      to {
         transform: perspective(1200px) rotateY(-360deg);
      }
   }

   .skill {
      position: absolute;
      @include mixin.flex($justify: center, $align: flex-start);
      width: 100%;
      height: 100%;
      background-color: rgba(211, 211, 211, 0.965);
      padding-top: 7.5px;

      img {
         position: absolute;
         width: 60%;
         object-fit: cover;

         &.html {
            width: 57%;
         }

         &.css {
            width: 42%;
         }

         &.sass {
            width: 65%;
            top: 12px;
         }

         &.javascript {
            width: 55%;
            top: 10px;
         }

         &.vue {
            top: 12.5px;
         }

         &.react {
            top: 10px;
         }

         &.cypress {
            width: 90%;
            top: 12.5px;
         }

         &.php {
            top: 18.5px;
         }

         &.laravel {
            width: 55%;
            top: 12.5px;
         }

         &.mysql {
            width: 65%;
            top: 17.5px;
         }

         &.apex {
            width: 80%;
            bottom: 12.5px;
         }

         &.salesforce {
            width: 65%;
         }

         &.salesforce,
         &.excel {
            top: 15px;
         }

         &.git {
            width: 52.5%;
            top: 10px;
         }

         &.excel {
            width: 65%;
         }
      }

      span {
         position: absolute;
         bottom: 2.5px;
         left: 50%;
         transform: translateX(-50%);
         font-size: 0.7em;
         color: #000000;
      }
   }
}
