@use '../../../assets/scss/mixins' as mixin;

.gallery {
   width: var(--dimension-images-slider3d);
   height: var(--dimension-images-slider3d);
   transform-style: preserve-3d;
   animation: rotate 12s linear infinite;

   @keyframes rotate {
      from {
         transform: perspective(1200px) rotateY(0deg);
      }
      to {
         transform: perspective(1200px) rotateY(-360deg);
      }
   }

   .skill {
      position: absolute;
      @include mixin.flex($justify: center, $align: flex-start);
      width: 100%;
      height: 100%;
      background-color: rgba(211, 211, 211, 0.965);
      padding-top: 7.5px;

      img {
         position: absolute;
         width: 60%;
         object-fit: cover;

         &.html {
            width: 57%;
         }

         &.css {
            width: 42%;
         }

         &.sass {
            width: 65%;
            top: 20%;
         }

         &.javascript {
            width: 55%;
            top: 15%;
         }

			&.react {
				top: 17.5%;
			}

         &.vue {
            top: 17.5%;
         }

         &.cypress {
            width: 90%;
            top: 17.5%;
         }

         &.php {
            top: 25%;
         }

         &.laravel {
            width: 55%;
            top: 15%;
         }

         &.mysql {
            width: 65%;
            top: 22.5%;
         }

         &.apex {
            width: 80%;
            bottom: 12.5px;
         }

         &.salesforce {
            top: 20%;
            width: 65%;
         }

         &.git {
            top: 15%;
            width: 52.5%;
         }

         &.excel {
            top: 20%;
            width: 65%;
         }
      }

      span {
         position: absolute;
         bottom: 2.5px;
         left: 50%;
         transform: translateX(-50%);
         font-size: 0.7em;
         color: #000000;

         @media screen and (max-width: 500px) {
            font-size: 0.6em;
				bottom: 1px;
         }

         @media screen and (max-width: 380px) {
            font-size: 0.5em;
				bottom: 1px;
         }
      }
   }
}
