.arrow-up-scroll {
   position: fixed;
   bottom: 15px;
   left: 15px;
   width: 50px;
   height: 50px;
   font-size: 1.8em;
   color: rgb(255, 255, 255);
   background-color: rgba(169, 169, 169, 0.631);
   padding: 2px 20px 0 20px;
   transition: all 150ms;

   &:hover {
      color: var(--orange);
      background-color: rgba(230, 230, 230, 0.5);
      transform: scale(1.2);
   }

   .fa-angle-up:first-child {
      transform: translateX(-5.5px);
   }

   .fa-angle-up:last-child {
      transform: translate(-5.5px, -28px);
   }

   @media screen and (max-width: 650px) {
      left: 7.5px;
      width: 30px;
      height: 30px;
      font-size: 1.4em;
      padding: 2px 15.5px 0 15.5px;

      .fa-angle-up {
         transform: translate(-8px, -1px);
      }
   }
}
