.card-portal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.5);
   z-index: 9999;
   color: #000000;
   animation: scale 200ms forwards;

   @keyframes scale {
      from {
         transform: translate(-50%, -50%) scale(0.5);
      }
      to {
         transform: translate(-50%, -50%) scale(1);
      }
   }
}
