.react-3d-carousel
   .slider-container
   .slider-content
   .slider-single
   .slider-single-content {
   box-shadow: none !important;
}

@media screen and (min-width: 768px) {
   .carousel-img-container {
      max-height: 30vw;
      overflow: hidden;
   }
}

@media screen and (max-width: 768px) {
   .carousel-img-container {
      max-height: 45vw;
      overflow: hidden;
   }
}
