.input-container {
   margin: 10px 0;

   .input {
      background-color: rgb(202, 202, 202);
      outline: none;

      &:focus-visible {
         outline-color: white;
         border: none;
         outline-style: hidden;
      }
   }

   fieldset {
      border: none;
   }

   .error {
      color: #d00909;
   }
}
