footer {
	font-size: 0.9em;
   text-align: center;
   padding: 100px 0 40px 0;

   .top {
      display: inline-block;
      margin-bottom: 5px;

      span {
         font-size: 1.1em;
         text-transform: uppercase;
         color: #61dafb;
      }
   }

   img {
      width: 30px;
      transform: translate(5px, 11px);
   }
}
