@use '../mixins' as mixin;

header {
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.517);
   padding: 20px 0;
   z-index: 1;

   .header {
      @include mixin.flex($justify: space-between);

      .logo {
         font-size: 1.5em;
         font-weight: bold;
         font-style: italic;
      }

      .header-right-horizontal {
         @include mixin.flex($gap: 20px);

         nav {
            .list-elements {
               @include mixin.flex($gap: 20px);
            }
         }

         @media screen and (max-width: 768px) {
            & {
               display: none;
            }
         }
      }
   }
}

.header-portal {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 9999;
   width: 250px;
   height: 100vh;
   background-color: white;
   animation: slide-right 300ms ease-out forwards;
   overflow: scroll;

   @keyframes slide-right {
      from {
         transform: translateX(20rem);
      }
      to {
         transform: translateX(0);
      }
   }
}

@media screen and (min-width: 769px) {
   .toggler,
   .button-close,
   .header-portal {
      display: none;
   }
}
