@use "../mixins" as mixin;

header {
   position: sticky;
   top: 0;
   left: 0;
   @include mixin.flex($justify: space-between);
   width: 100%;
   background-color: #ffffff;
   padding: 15px 25px;

   .header-right {
      @include mixin.flex($gap: 50px);

      nav {
         .list-elements {
            @include mixin.flex($gap: 20px);
         }
      }
   }
}
