@use '../mixins' as mixin;

$gap-pojects: 5px;

.projects-container {
   margin: 20px 0;

   .heading-other {
      text-align: center;
   }

   .repos-container {
      @include mixin.flex(
         $justify: flex-start,
         $align: stretch,
         $gap: $gap-pojects,
         $wrap: true
      );

      // Main projects
      .main-project {
         width: 100%;
         border: 1px solid red;
         margin-bottom: 10px;

         .img-container img {
            width: 100%;
         }
      }

      // Other projects
      .other-project {
         width: calc(25% - $gap-pojects);
         margin-bottom: 10px;

         @media screen and (max-width: 991px) {
            width: calc(33% - $gap-pojects);
         }

         @media screen and (max-width: 768px) {
            width: calc(50% - $gap-pojects);
         }

         @media screen and (max-width: 600px) {
            width: 100%;
         }

         .img-container img {
            width: 100%;
            height: 100%;
         }
      }

      .color-language {
         display: inline-block;
         width: 30px;
         height: 30px;
         border-radius: 50%;
      }
   }
}
