@use '../mixins' as mixin;

.projects-container {
   margin: 20px 0;

   .repos-container {
      @include mixin.flex(
         $justify: flex-start,
         $align: flex-start,
         $wrap: true
      );

      .main-p {
         width: 100%;
         border: 1px solid red;
         margin-bottom: 10px;
      }

      .other-p {
         width: 33%;
         border: 1px solid red;
         margin-bottom: 10px;
      }

      .repo-img {
         width: 100%;
      }

      .color-language {
         display: inline-block;
         width: 30px;
         height: 30px;
         border-radius: 50%;
      }
   }
}
