@use "../mixins" as mixin;

.aside-container {
   position: fixed;
   top: 50%;
   right: 5px;
   @include mixin.flex($direction: column, $gap: 20px);

   .social-item {
      background-color: #000000;
      border-radius: 50%;

      .social {
         padding: 8px 8px 5px;
			font-size: 1.2em;

         path {
            fill: #ffa600;
         }
      }
   }
}
