@use '../mixins' as mixin;

.aside-container {
   position: fixed;
   top: 50%;
	right: 5px;
	transform: translateY(-50%);
   @include mixin.flex($direction: column, $gap: 20px);

   .social-item {
      @include mixin.flex();
      width: 35px;
      height: 35px;
      background-color: #000000;
      border-radius: 50%;

      .social {
         font-size: 1.35em;
         transform: translateY(1.25px);

         path {
            fill: var(--orange);
         }
      }
   }
}
