footer {
   font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
   font-size: 0.75em;
   text-align: center;
   padding-bottom: 40px;

   .top span {
      font-size: 1.1em;
      text-transform: uppercase;
      color: #61dafb;
   }

   .code {
      display: inline-block;
      font-size: 0.9em;
      color: #b5b5b5;
      margin: 4px 0 10px 0;
      border-bottom: 1px solid var(--light-blue);

      &:hover {
         color: var(--light-blue);
      }
   }

   img {
      width: 30px;
      transform: translate(5px, 10px);
   }

   .c {
      display: inline-block;
      font-size: 1.2em;
      transform: translateY(2px);
   }
}
