@use '../../../assets/scss/mixins' as mixin;

footer {
   font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
   font-size: 0.75em;
   text-align: center;
   padding-bottom: 40px;

   .top {
      display: inline-block;
      margin-bottom: 5px;

      span {
         font-size: 1.1em;
         text-transform: uppercase;
         color: #61dafb;
      }
   }

   img {
      width: 30px;
      transform: translate(5px, 10px);
   }

   .c {
      display: inline-block;
      font-size: 1.2em;
      transform: translateY(2px);
   }
}
